<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/app.css" />
    @RenderSection("styles", false)
</head>
<body>
   @await Html.PartialAsync("_nav")
    @RenderSection("header", false)
  
    <div class="container mt-3">
        @if (IsSectionDefined("section_sidebar"))
        {
            <div class="row">
                <div class="col-3">
                    @RenderSection("section_sidebar", false)
                </div>
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        }else{
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        }
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    @RenderSection("scripts", false)


    <script>
        const searchFormInput = document.querySelector("#search-input");
        const searchResultList = document.querySelector("#search-results");
        const searchResultContainer = document.querySelector("#search-results-container");

        searchFormInput.addEventListener("keyup", function (e) {
            console.log(searchFormInput.value)


            fetch("/Movies/Search?keyword=" + searchFormInput.value)
            .then(e => e.json())
            .then(response => {
                searchResultContainer.classList.remove("d-none");
                    searchResultList.querySelectorAll("a").forEach(listItem => listItem.remove());
                response.forEach(function (movie) {
                        const listItem = document.createElement("a");
                        listItem.classList.add("list-group-item");
                        listItem.href = `/Movies/Details/${ movie.movieId }`
                        listItem.innerText = movie.title;

                    searchResultList.appendChild(listItem);
                })
            });


        });



    </script>
</body>
</html>

